<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Your Password</title>
  <style>
    body {
      font-family: sans-serif;
      margin: 0;
      padding: 20px;
    }

    h1 {
      font-size: 24px;
      color: #333;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      color: #666;
      line-height: 1.5;
    }

    a {
      color: #007bff;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    .center {
      text-align: center;
    }

    .small {
      font-size: 12px;
      color: #999;
    }
  </style>
</head>

<body>
  <h1 style="text-align: center;">Hi {{username}},</h1>
  <p>We received a request to reset your password.</p>
  {{!-- <p>Enter the following password reset code:</p> --}}
  {{!-- <p style="text-align: center;">{{code}}</p> --}}
  <p>You can directly change your password by clicking the link below:</p>
  <p style="text-align: center;"><a href="http://{{host}}:{{port}}/authentication/reset-password?t={{token}}">Change Password</a>
  </p>
  <p>The code will expire in 10 minutes.</p>
  <p>Didn't request this change?</p>
  <p>If you didn't request a new password, please let us know by replying to this email.</p>
  <p>Sincerely,</p>
  <p>Eventy</p>
  {{!-- <p>{{senderCompany}}</p> --}}
  <p style="font-size: small;">This message was sent to {{email}}.</p>
  <p style="font-size: small;">To help keep your account secure, please don't forward this email.</p>
</body>

</html>